view(title='"Adopt A Pet"')
  content(has-header='true', has-tabs='true')
    .list.list-inset
      label.item.item-input
        span.input-label Your name
        input(type='text')
      label.item.item-input
        span.input-label Your email
        input(type='email')
      label.item.item-toggle
        | Subscribe To Newsletter
        toggle
      button.button.button-positive.button-block Adopt
